// [START maps_ios_get_started_install_carthage]
binary "https://dl.google.com/geosdk/GoogleMaps.json" == 3.10.0
// [END maps_ios_get_started_install_carthage]

// [START maps_ios_get_started_install_carthage]
binary "https://dl.google.com/geosdk/GoogleMaps.json" == 3.10.0
binary "https://dl.google.com/geosdk/GooglePlaces.json" == 3.10.0
// [END maps_ios_get_started_install_carthage]
