<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>730716631155-91k9k9smo0tst0dj6r2hrhms6bm8lha7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730716631155-91k9k9smo0tst0dj6r2hrhms6bm8lha7</string>
	<key>API_KEY</key>
	<string>AIzaSyB52P0gV-7J5wPVv1jgsP5BmDmtsZXWLeA</string>
	<key>GCM_SENDER_ID</key>
	<string>730716631155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.examples.my-places</string>
	<key>PROJECT_ID</key>
	<string>psyched-silicon-95821</string>
	<key>STORAGE_BUCKET</key>
	<string>psyched-silicon-95821.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:730716631155:ios:51a8df75c5b82281</string>
	<key>DATABASE_URL</key>
	<string>https://psyched-silicon-95821.firebaseio.com</string>
</dict>
</plist>